JWProject/JWProject.xcodeproj/project.xcworkspace/xcuserdata/iosmacmini.xcuserdatad/UserInterfaceState.xcuserstate
JWProject/JWProject.xcodeproj/xcuserdata/iosmacmini.xcuserdatad/xcschemes/xcschememanagement.plist
JWProject_SwiftUI/JWProject_SwiftUI.xcodeproj/project.xcworkspace/xcuserdata/iosmacmini.xcuserdatad/UserInterfaceState.xcuserstate
JWProject_SwiftUI/JWProject_SwiftUI.xcodeproj/xcuserdata/iosmacmini.xcuserdatad/xcschemes/xcschememanagement.plist
